body {background-color: lightgray}
a {font-weight: bold; color: black;text-decoration: none;}
table {
			
			border-collapse: collapse;
			width: 80%;
			padding: 10px
			margin: auto;
			}
table, td, th {border: 1px solid}
h1{text-align: center;}
dt {font-weight: bold;}
img{border: 2px solid black;border-radius: 10px; float: center; }
div{border: 2px solid black;padding: 10px; border-radius: 20px; overflow: auto; width: 310px; height: 400px; float: left; margin: 6px;}
div.dj{width: 60px; height: 20px;overflow: hidden; float: left; border-radius: 0px; background-color:gray;text-align: center;}
div.main{width: 140px; height: 100px;  background-color:lightgray;text-align: center;}
